body {
  background-color:white;
}
a {
  color: #bf5700;
}
a:link {
  color: #bf5700;
}
a:hover {
  color: #bf5700;
}
h1 {
  font-size: 32px;
  text-align: center;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
  text-align: center;
  
}
h6 {
  font-size: 12px;
}
img {
    display: block;
    margin: auto;
}

img-circle {
    border-radius: 50%;
}

.navbar {
  background-color:white;
}

.navbar-brand {
  color: white;
}

.navbar .navbar-nav>li>a {
  color: #bf5700;
  background-color:white;
}
.navbar .navbar-nav>li>a:hover {
  color: #222;
  background-color:white;
}
.navbar .navbar-nav>.active>a {
  background-color:white;
  color: #bf5700;
}
.navbar .navbar-nav>.active>a:hover {
  background-color:white;
  color: #222;
}

#title-name{
  font-size: 50px;
}

.homepage {
  flex: 1;
  /* background-color: floralwhite; */
  /* max-width: 115rem; */
  /* display: grid; */
  padding-top: 1.5rem;
  padding-bottom: 30rem;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}

.section {
  font-size: 17px;
  /* padding: 15rem 50rem; */
  padding-top: 20rem;
  padding-bottom: 20rem;
  /* padding-left: 10rem;
  padding-right: 10rem; */
  border-top: 1px solid #ddd;
  text-align: center;
  transition: transform 1s, opacity 1s;
  /* position: fixed; */
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

#intro{
  text-align: left;
}

#title-name{
  font-family:Copperplate;
  /* font-size: 65px; */
  font-size: 5vw;
}

#welcome{
  color: slategrey;
  font-weight: bold;
  font-size: 2vw;
  font-family: Chalkduster;
  text-align: center;
}

.container{
  text-align: left;
}

footer{
  text-align: center;
}


.form{width:440px;
  height:540px;background:#e6e6e6;border-radius:8px;
  box-shadow:0 0 40px -10px #000;
  margin:calc(50vh - 220px) auto;
  padding:20px 30px;
  max-width:calc(100vw - 40px);box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative}

h2{margin:10px 0;
  padding-bottom:10px;
  width:180px;
  color:#78788c;
  border-bottom:3px solid #78788c}

#intro{
  color:#78788c;}

input{width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2}

input:focus{border-bottom:2px solid #78788c}

p:before{content:attr(type);
  display:block;margin:28px 0 0;
  font-size:14px;
  color:#5a5a5a}

#contact_button{float:right;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s}

#contact_button:hover{background:#78788c;
  color:#fff}

#contact_info{content:'Hi';
  position:absolute;
  bottom:-15px;
  right:-20px;
  background:#50505a;
  color:#fff;
  width:350px;
  padding:16px 4px 16px 0;
  border-radius:6px;
  font-size:13px;
  box-shadow:10px 10px 40px -14px #000}

span{margin:0 5px 0 15px}

ul{
  margin-right: 10%;
}


/* New CSS
/* Fonts */
@font-face {
  font-family: 'Calisto-MT';
  src: url(../fonts/Calisto-MT.ttf); }

@font-face {
  font-family: 'Calisto-MT-Italic';
  src: url(../fonts/Calisto-MT-Italic.ttf); }

@font-face {
  font-family: 'Calisto-MT-Bold';
  src: url(../fonts/Calisto-MT-Bold.ttf); }

/* Colors */
/* Universal style */
* {
  margin: 0;
  padding: 0;
  font-family: "Calisto-MT"; }

.site-container {
  width: 1115px;
  margin: 0 auto; }
  @media (max-width: 1250px) {
    .site-container {
      width: 90%; } }

.universal-h2 {
  font-size: 48px;
  text-align: center;
  color: #222; }
  @media (max-width: 1250px) {
    .universal-h2 {
      font-size: 38px; } }
  @media (max-width: 668px) {
    .universal-h2 {
      font-size: 30px; } }

/* Universal style end */
/* Includes */
.site-navigation {
  position: absolute;
  top: 4.6%;
  width: 100%;
  z-index: 2; }

.site-navigation-inner {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.main-navigation {
  color: #fff;
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  opacity: 0.9; }
  .main-navigation .main-navigation__ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    border: 2px solid #fff;
    border-radius: 7px;
    background-color: #bf5700; }
    .main-navigation .main-navigation__ul li {
      margin-bottom: 20px;
      list-style: none; }
    .main-navigation .main-navigation__ul a {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s ease; }
      .main-navigation .main-navigation__ul a:hover {
        color: #777; }
  @media (max-width: 1150px) {
    .main-navigation {
      opacity: 0.94; } }

/* Navigation burger */
.burger-container {
  cursor: pointer;
  z-index: 3; }

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #bf5700;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
  background-color: #bf5700; }

.change .bar2 {
  opacity: 0;
  background-color: #bf5700; }

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -7px);
  background-color: #bf5700; }

.stop-scroll {
  overflow: hidden; }

/* Navigation burger end */
.homepage {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-image: url("./images/IMG_6390.jpg");
  background-position: center;
  background-size: cover; }
  .homepage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6; }
  .homepage .site-container {
    position: relative;
    z-index: 1; }
  @media (max-width: 1600px) {
    .homepage {
      padding-top: 180px; } }
  @media (max-width: 1250px) {
    .homepage {
      padding-top: 130px; } }
  @media (max-width: 520px) {
    .homepage {
      padding-top: 105px; } }
  @media (min-width: 1600px) {
    .homepage {
      min-height: 100vh; } }

.top-banner__inner {
  display: flex;
  align-items: center; }
  .top-banner__inner .top-banner__text {
    margin-left: 54px; }
    @media (max-width: 1250px) {
      .top-banner__inner .top-banner__text {
        width: 35%; } }
    @media (max-width: 768px) {
      .top-banner__inner .top-banner__text {
        width: 50%;
        margin-left: 20px; } }
    @media (max-width: 520px) {
      .top-banner__inner .top-banner__text {
        width: 65%;
        margin-bottom: 20px;
        margin-left: 0; } }
    .top-banner__inner .top-banner__text p {
      margin-bottom: 42px;
      color: #777; }
      @media (max-width: 768px) {
        .top-banner__inner .top-banner__text p {
          margin-bottom: 25px;
          font-size: 14px; } }
  .top-banner__inner .top-banner__h2 {
    font-size: 74px;
    letter-spacing: 3px;
    color: #fff;
    font-family: "Calisto-MT-Bold"; }
    @media (max-width: 1250px) {
      .top-banner__inner .top-banner__h2 {
        font-size: 50px; } }
    @media (max-width: 768px) {
      .top-banner__inner .top-banner__h2 {
        font-size: 35px; } }
  .top-banner__inner .top-banner__text-up .top-banner__h2 {
    margin-top: 15px; }
    @media (max-width: 768px) {
      .top-banner__inner .top-banner__text-up .top-banner__h2 {
        margin-top: 0; } }
  .top-banner__inner .top-banner__text-down {
    margin-bottom: 20px;
    padding-left: 27%; }
    .top-banner__inner .top-banner__text-down .top-banner__h2 {
      margin-bottom: 10px; }
      @media (max-width: 768px) {
        .top-banner__inner .top-banner__text-down .top-banner__h2 {
          margin-bottom: 0; } }
  .top-banner__inner .top-banner__image {
    font-size: 0; }
    @media (max-width: 1250px) {
      .top-banner__inner .top-banner__image {
        width: 50%; }
        .top-banner__inner .top-banner__image img {
          width: 100%; } }
    @media (max-width: 520px) {
      .top-banner__inner .top-banner__image {
        width: 55%;
        margin-bottom: 20px; } }
  @media (max-width: 520px) {
    .top-banner__inner {
      flex-direction: column; } }

.brand-span {
  font-size: 25px;
  color: #bf5700; }

.brand-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #597dc1;
  border: 1px solid #fff;
  transition: 0.3s ease; }
  .brand-button:hover, .brand-button:focus {
    color: #777; }

.about-me {
  position: relative;
  margin: 193px 0 199px; }
  @media (max-width: 1250px) {
    .about-me {
      margin: 150px 0; } }
  @media (max-width: 992px) {
    .about-me {
      margin: 125px 0; } }

.about-me-bckg {
  position: absolute;
  background-image: url("./images/IMG_7448.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  top: -75px;
  right: 0;
  height: calc(100% + 150px);
  width: 70%;
  z-index: -1; }
  .about-me-bckg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5; }
  @media (max-width: 992px) {
    .about-me-bckg {
      width: 100%;
      padding-bottom: 15px; } }

.about-me-inner {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 992px) {
    .about-me-inner {
      flex-direction: column;
      align-items: center; } }

.about-me-slider {
  position: relative; }
  .about-me-slider .slick-arrow {
    position: absolute;
    bottom: -18%; }
  .about-me-slider .slick-prev {
    left: 40%; }
    @media (max-width: 520px) {
      .about-me-slider .slick-prev {
        left: 34%; } }
  .about-me-slider .slick-next {
    right: 40%; }
    @media (max-width: 520px) {
      .about-me-slider .slick-next {
        right: 34%; } }


.portfolio-wrapper {
  width: 390px;
  padding: 8px;
  text-align: center;
  background-color: #fff; }
  .portfolio-wrapper .portfolio__img {
    font-size: 0; }
    .portfolio-wrapper .portfolio__img img {
      width: 100%; }
  .portfolio-wrapper .portfolio__bottom {
    padding: 35px 0 95px;
    background-color: #f5f5f5; }
    @media (max-width: 992px) {
      .portfolio-wrapper .portfolio__bottom {
        padding: 25px 0; } }
  .portfolio-wrapper .portfolio__name {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 23px; }
    @media (max-width: 992px) {
      .portfolio-wrapper .portfolio__name {
        margin-bottom: 10px; } }
    .portfolio-wrapper .portfolio__name span {
      font-size: 90px;
      line-height: 75px;
      color: #597dc1;
      font-family: "Calisto-MT-Bold"; }
      @media (max-width: 992px) {
        .portfolio-wrapper .portfolio__name span {
          font-size: 65px;
          line-height: 62px; } }
  .portfolio-wrapper p {
    padding: 0 10%;
    line-height: 25px;
    font-style: italic;
    color: #777; }
    @media (max-width: 620px) {
      .portfolio-wrapper p {
        font-size: 15px;
        line-height: 20px; } }
  @media (max-width: 992px) {
    .portfolio-wrapper {
      margin-bottom: 20px; } }
  @media (max-width: 620px) {
    .portfolio-wrapper {
      width: 250px; } }

.about-me__text {
  width: 44%;
  margin-right: 80px;
  text-align: center; }
  .about-me__text .universal-h2 {
    color: #fff;
    padding-bottom: 20px;
    margin-bottom: 25px; }
  .about-me__text p {
    margin-bottom: 35px;
    line-height: 24px;
    color: #c18f59; }
    .about-me__text p span {
      font-size: 48px;
      color: #fff; }
    @media (max-width: 620px) {
      .about-me__text p {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px; } }
  .about-me__text h4 {
    margin-bottom: 7px;
    font-size: 25px;
    color: #c18f59; }
  .about-me__text .p-white {
    margin-bottom: 0;
    color: #fff; }
  @media (max-width: 1250px) {
    .about-me__text {
      width: 48%;
      margin-right: 40px; } }
  @media (max-width: 992px) {
    .about-me__text {
      width: 100%;
      margin-right: 0; } }

.slick-slide:focus {
  outline: none; }

.portfolio {
  margin-bottom: 122px; }
  .portfolio .universal-h2 {
    margin-bottom: 50px;
    padding-bottom: 20px; }
  .portfolio .books-brand-button {
    text-align: center; }
    .portfolio .books-brand-button .brand-button {
      font-size: 16px;
      text-transform: none;
      border-color: #c18f59; }
      .portfolio .books-brand-button .brand-button:hover {
        border-color: #777; }
  @media (max-width: 1250px) {
    .portfolio {
      margin-bottom: 60px; } }

.books {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px; }
  @media (max-width: 559px) {
    .books {
      justify-content: space-around; } }

.single-work {
  margin-bottom: 20px;
  text-align: center; }
  .single-work .single-book__img {
    position: relative;
    display: block;
    font-size: 0; }
    .single-work .single-book__img .single-book_download {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      transition: 0.3s ease; }
      .single-work .single-book__img .single-book_download img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; }
    .single-work .single-book__img:hover .single-book_download {
      visibility: visible;
      opacity: 0.6; }
  .single-work .single-book__title {
    margin: 19px 0 18px;
    font-size: 18px; }
  .single-work .single-book__price {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #c18f59; }
  @media (max-width: 1250px) {
    .single-work {
      margin-right: 10px; }
      .single-work:last-child {
        margin-right: 0; } }




